Программа распространяется в двух версиях: для ОС семейства Windows и ОС семейства Linux.

\subsection{Версия для ОС Windows}

Программа распространяется в виде архива, содержащего .exe файл и некоторые дополнительные файлы (изображения и шрифты), необходимые для корректной работы программы. Программа не требует установки, для её запуска не нужны дополнительные библиотеки: достаточно скачать и распаковать архив, содержащий программу, перейти в директорию, куда он был распакован, и запустить .exe файл двойным кликом левой кнопкой мыши по нему.

\subsection{Версия для ОС Linux}

При наличии необходимых программных средств, позволяющих запустить .exe файл в ОС Linux (например, Wine), для запуска программы можно выполнить ту же последовательность действий, что приведена для ОС Windows.

В противном же случае можно скомпилировать и запустить проект из исходников: с использованием средств git его необходимо склонировать на свой компьютер из удалённого репозитория. Также может потребоваться дополнительно установить некоторые средства сборки, такие как компилятор GNU C++, а также библиотеку raylib, с использованием средств которой и разработана программная система. После этого достаточно, находясь в директории проекта, запустить скрипт run.sh, который скомпилирует и запустит программу.
